header {
    width: 100%;
    height: 15vmin;
    background-color: rgb(255, 106, 106);
}
 
header > h1 {
    color: rgb(236, 37, 37);
    text-align: center;
}

h1 {
    color: rgb(236, 37, 37);
    text-align: center;
}
 
main {
    width: 100%;
    min-height: 85vmin;
    background-color: rgb(206, 202, 202);
}

table {
    width: 100%;
    background-color: rgb(206, 202, 202);
    

}